<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fwRuleGroup">
            <h2><span jhiTranslate="firewallapiApp.fwRuleGroup.detail.title">Fw Rule Group</span> {{ fwRuleGroup.id }}
            </h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="firewallapiApp.fwRuleGroup.priority">Priority</span></dt>
                <dd>
                    <span>{{ fwRuleGroup.priority }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.fwRuleGroup.humanName">Human Name</span></dt>
                <dd>
                    <span>{{ fwRuleGroup.humanName }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.fwRuleGroup.fwRules">Human Name</span>
                    <a id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fw-rule" [attr.href]="'/fw-rule/new?group='+fwRuleGroup.id">
                        <fa-icon icon="plus"></fa-icon>
                        <span  jhiTranslate="firewallapiApp.fwRule.home.createLabel">
                        Create a new group
                        </span>
                    </a></dt>
                <dd>
                    <hr>
                    <div class="row">
                        <div class="col col-md-1">
                            <span jhiTranslate="global.field.id">ID</span>
                        </div>
                        <div class="col col-md-2">
                            <span jhiTranslate="firewallapiApp.fwRule.priority">Priority</span>
                        </div>
                        <div class="col col-md-9">
                            <span jhiTranslate="firewallapiApp.fwRule.humanName">Human
                                Name</span>
                        </div>
                    </div>
                    <hr>
                    <div *ngFor="let fwRule of fwRules ; index as index"
                        [ngClass]="[ 0 === index % 2 ? 'row alert bg-white' : 'row alert bg-light']">
                        <div class="col col-md-1"><a [routerLink]="['/fw-rule', fwRule.id, 'view']">{{
                            fwRule.id }}</a></div>
                        <div class="col col-md-2">{{ fwRule.priority }}</div>
                        <div class="col col-md-7"><a [routerLink]="['/fw-rule', fwRule.id, 'view']">{{
                            fwRule.humanName }}</a></div>
                        <div class="col col-md-2 text-right">
                            <button type="submit" (click)="deleteRule(fwRule)"
                                class="btn btn-danger btn-xs">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/fw-rule-group', fwRuleGroup.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>