<div>
    <h2 id="page-heading">
        <span jhiTranslate="firewallapiApp.onosController.home.title">Onos Controllers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-onos-controller" [routerLink]="['/onos-controller/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="firewallapiApp.onosController.home.createLabel">
            Create a new Onos Controller
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="onosControllers?.length === 0">
        <span jhiTranslate="firewallapiApp.onosController.home.notFound">No onosControllers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="onosControllers && onosControllers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.onosController.humanName">Human Name</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.onosController.ip">Ip</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.onosController.port">Port</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.onosController.user">User</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.onosController.password">Password</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let onosController of onosControllers ;trackBy: trackId">
                    <td><a [routerLink]="['/onos-controller', onosController.id, 'view']">{{ onosController.id }}</a></td>
                    <td>{{ onosController.humanName }}</td>
                    <td>{{ onosController.ip }}</td>
                    <td>{{ onosController.port }}</td>
                    <td>{{ onosController.user }}</td>
                    <td>*****</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/onos-controller', onosController.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/onos-controller', onosController.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(onosController)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
