<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="onosController">
            <h2><span jhiTranslate="firewallapiApp.onosController.detail.title">Onos Controller</span> {{ onosController.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="firewallapiApp.onosController.humanName">Human Name</span></dt>
                <dd>
                    <span>{{ onosController.humanName }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.onosController.ip">Ip</span></dt>
                <dd>
                    <span>{{ onosController.ip }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.onosController.port">Port</span></dt>
                <dd>
                    <span>{{ onosController.port }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.onosController.user">User</span></dt>
                <dd>
                    <span>{{ onosController.user }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.onosController.password">Password</span></dt>
                <dd>
                    <span>*****</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/onos-controller', onosController.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
