/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
  }
}
.graph {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .graph .edge {
    stroke: #666;
    fill: none; }
    .graph .edge .edge-label {
      stroke: none;
      font-size: 12px;
      fill: #666; }
  .graph .panning-rect {
    fill: transparent;
    cursor: move; }
  .graph .node-group .node:focus {
    outline: none; }.graph {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .graph .edge {
    stroke: #666;
    fill: none; }
    .graph .edge .edge-label {
      stroke: none;
      font-size: 12px;
      fill: #666; }
  .graph .panning-rect {
    fill: transparent;
    cursor: move; }
  .graph .node-group .node:focus {
    outline: none; }

.edge {
    path  {
      stroke: #666 !important;
    }
  }
