<div class="row">
    <div class="col-md-12">
        <div>
            <h1 class="display-4">
                <span jhiTranslate="global.menu.topology">Topology!</span>
                <div class="float-right">
                    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-bottom jh-create-entity apply-rules-button" (click)="importTopo()">
                        <fa-icon icon="long-arrow-alt-down"></fa-icon>
                        <span  jhiTranslate="global.menu.import-topo">
                        Import topology
                        </span>
                    </button>
                </div>
            </h1>
        </div>
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <hr style="border-top: 5px solid rgba(0, 0, 0, 0.1);">
                <div style="height: 500px;">
                    <ngx-graph class="chart-container" [nodes]="graph.nodes" [links]="graph.links">
                        <ng-template #nodeTemplate let-node>
                            <svg [attr.height]="node.height*1.66" [attr.width]="node.width">
                                <g>
                                    <rect [attr.y]="node.height*0.66" [attr.height]="node.height"
                                        [attr.width]="node.width" [attr.fill]='node.color'>
                                        <title>{{node.label}}</title>
                                    </rect>
                                    <text x="0" [attr.y]="node.height*0.66" [attr.height]="node.height*0.66"
                                        [attr.width]="node.width" fill="black">
                                        <a [attr.href]="node.href">{{node.label}}</a></text>
                                </g>
                            </svg>
                        </ng-template>
                    </ngx-graph>
                </div>
            </div>
        </div>

    </div>
</div>