<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fwNetwork">
            <h2><span jhiTranslate="firewallapiApp.fwNetwork.detail.title">Fw Network</span> {{ fwNetwork.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="firewallapiApp.fwNetwork.humanName">Human Name</span></dt>
                <dd>
                    <span>{{ fwNetwork.humanName }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fw-network', fwNetwork.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
