<div>
    <h2 id="page-heading">
        <span jhiTranslate="firewallapiApp.ovSwitch.home.title">Ov Switches</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ov-switch" [routerLink]="['/ov-switch/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="firewallapiApp.ovSwitch.home.createLabel">
            Create a new Ov Switch
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ovSwitches?.length === 0">
        <span jhiTranslate="firewallapiApp.ovSwitch.home.notFound">No ovSwitches found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ovSwitches && ovSwitches.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.ovSwitch.humanName">Human Name</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.ovSwitch.onosDeviceId">Onos Device Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ovSwitch of ovSwitches ;trackBy: trackId">
                    <td><a [routerLink]="['/ov-switch', ovSwitch.id, 'view']">{{ ovSwitch.id }}</a></td>
                    <td>{{ ovSwitch.humanName }}</td>
                    <td>{{ ovSwitch.onosDeviceId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ov-switch', ovSwitch.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ov-switch', ovSwitch.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ovSwitch)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
