<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ovSwitch">
            <h2><span jhiTranslate="firewallapiApp.ovSwitch.detail.title">Ov Switch</span> {{ ovSwitch.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="firewallapiApp.ovSwitch.humanName">Human Name</span></dt>
                <dd>
                    <span>{{ ovSwitch.humanName }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.ovSwitch.onosDeviceId">Onos Device Id</span></dt>
                <dd>
                    <span>{{ ovSwitch.onosDeviceId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ov-switch', ovSwitch.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
