<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ov-switch-heading" jhiTranslate="firewallapiApp.ovSwitch.home.createOrEditLabel">Create or edit a Ov Switch</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.ovSwitch.humanName" for="field_humanName">Human Name</label>
                    <input type="text" class="form-control" name="humanName" id="field_humanName"
                           formControlName="humanName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.ovSwitch.onosDeviceId" for="field_onosDeviceId">Onos Device Id</label>
                    <input type="text" class="form-control" name="onosDeviceId" id="field_onosDeviceId"
                           formControlName="onosDeviceId"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
