<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fw-rule-heading" jhiTranslate="firewallapiApp.fwRule.home.createOrEditLabel">Create or edit a Fw Rule</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwRule.humanName" for="field_humanName">Human Name</label>
                    <input type="text" class="form-control" name="humanName" id="field_humanName"
                           formControlName="humanName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwRule.priority" for="field_priority">Priority</label>
                    <input type="number" class="form-control" name="priority" id="field_priority"
                           formControlName="priority"/>
                    <div *ngIf="editForm.get('priority')!.invalid && (editForm.get('priority')!.dirty || editForm.get('priority')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('priority')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('priority')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwRule.action" for="field_action">Action</label>
                    <select class="form-control" name="action" id="field_action" class="form-control ng-valid ng-dirty ng-touched"
                           formControlName="action">
                        <option value="allow">Allow</option>
                        <option value="drop" selected>Drop</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwRule.fwRuleGroup" for="field_fwRuleGroup">Fw Rule Group</label>
                    <select class="form-control" id="field_fwRuleGroup" name="fwRuleGroup" formControlName="fwRuleGroup">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fwRuleGroupOption.id === editForm.get('fwRuleGroup')!.value?.id || (editForm.get('fwRuleGroup')!.value?.id === null && fwRuleGroupOption.id == groupId)? editForm.get('fwRuleGroup')!.value : fwRuleGroupOption" *ngFor="let fwRuleGroupOption of fwrulegroups; trackBy: trackById">{{ fwRuleGroupOption.id + (fwRuleGroupOption.humanName ? ' - ' + fwRuleGroupOption.humanName : '') }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
