<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fwRule">
            <h2><span jhiTranslate="firewallapiApp.fwRule.detail.title">Fw Rule</span> {{ fwRule.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="firewallapiApp.fwRule.priority">Priority</span></dt>
                <dd>
                    <span>{{ fwRule.priority }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.fwRule.humanName">Human Name</span></dt>
                <dd>
                    <span>{{ fwRule.humanName }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.fwRule.action">Action</span></dt>
                <dd>
                    <span>{{ fwRule.action }}</span><fa-icon [icon]="fwRule.action === 'drop' ? 'times' : 'check'" [fixedWidth]="true"></fa-icon>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.fwRule.fwRuleGroup">Fw Rule Group</span></dt>
                <dd>
                    <div *ngIf="fwRule.fwRuleGroup">
                        <a [routerLink]="['/fw-rule-group', fwRule.fwRuleGroup?.id, 'view']">{{ fwRule.fwRuleGroup?.id }}{{ fwRule.fwRuleGroup?.humanName ? ' - '+fwRule.fwRuleGroup?.humanName : ''}}</a>
                    </div>
                </dd>
                
                <dt><span jhiTranslate="firewallapiApp.fwRule.fwFilter">Filters</span>
                    <a id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fw-filter" [attr.href]="'/fw-filter/new?rule='+fwRule.id">
                        <fa-icon icon="plus"></fa-icon>
                        <span  jhiTranslate="firewallapiApp.fwFilter.home.createLabel">
                        Create a new filter
                        </span>
                    </a></dt>
                <dd>
                    <hr>
                    <div class="row">
                        <div class="col col-md-1">
                            <span jhiTranslate="global.field.id">ID</span>
                        </div>
                        <div class="col col-md-1">
                            <span jhiTranslate="firewallapiApp.fwFilter.origin">Origin</span>
                        </div>
                        <div class="col col-md-2">
                            <span jhiTranslate="firewallapiApp.fwFilter.protocol">Protocol</span>
                        </div>
                        <div class="col col-md-2">
                            <span jhiTranslate="firewallapiApp.fwFilter.protocolValue">Protocol value</span>
                        </div>
                        <div class="col col-md-6">
                            <span jhiTranslate="firewallapiApp.fwFilter.humanName">Human name</span>
                        </div>
                    </div>
                    <hr>
                    <div *ngFor="let fwFilter of fwRule.fwFilters ; index as index"
                        [ngClass]="[ 0 === index % 2 ? 'row alert bg-white' : 'row alert bg-light']">
                        <div class="col col-md-1"><a [routerLink]="['/fw-filter', fwFilter.id, 'view']">{{
                            fwFilter.id }}</a></div>
                        <div class="col col-md-1">{{ fwFilter.origin }}</div>
                        <div class="col col-md-2">{{ fwFilter.protocol }}</div>
                        <div class="col col-md-2">{{ fwFilter.protocolValue }}</div>
                        <div class="col col-md-4"><a [routerLink]="['/fw-filter', fwFilter.id, 'view']">{{
                            fwFilter.humanName }}</a></div>
                        <div class="col col-md-2 text-right">
                            <button type="submit" (click)="deleteFilter(fwFilter)"
                                class="btn btn-danger btn-xs">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fw-rule', fwRule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
