<div>
    <h2 id="page-heading">
        <span jhiTranslate="firewallapiApp.fwRule.home.title">Fw Rules</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fw-rule" [routerLink]="['/fw-rule/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="firewallapiApp.fwRule.home.createLabel">
            Create a new Fw Rule
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fwRules?.length === 0">
        <span jhiTranslate="firewallapiApp.fwRule.home.notFound">No fwRules found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fwRules && fwRules.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwRule.humanName">Human Name</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwRule.priority">Priority</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwRule.action">Action</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwRule.fwRuleGroup">Fw Rule Group</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fwRule of fwRules ;trackBy: trackId">
                    <td><a [routerLink]="['/fw-rule', fwRule.id, 'view']">{{ fwRule.id }}</a></td>
                    <td>{{ fwRule.humanName }}</td>
                    <td>{{ fwRule.priority }}</td>
                    <td>{{ fwRule.action }}</td>
                    <td>
                        <div *ngIf="fwRule.fwRuleGroup">
                            <a [routerLink]="['/fw-rule-group', fwRule.fwRuleGroup?.id, 'view']" >{{ fwRule.fwRuleGroup?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fw-rule', fwRule.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fw-rule', fwRule.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fwRule)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
