<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ovSPort">
            <h2><span jhiTranslate="firewallapiApp.ovSPort.detail.title">Ov S Port</span> {{ ovSPort.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="firewallapiApp.ovSPort.humanName">Human Name</span></dt>
                <dd>
                    <span>{{ ovSPort.humanName }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.ovSPort.onosPortName">Onos Port Name</span></dt>
                <dd>
                    <span>{{ ovSPort.onosPortName }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.ovSPort.fwNetwork">Fw Network</span></dt>
                <dd>
                    <span *ngFor="let fwNetwork of ovSPort.fwNetworks; let last = last">
                        <a [routerLink]="['/fw-network', fwNetwork?.id, 'view']">{{ fwNetwork.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.ovSPort.ovSwitch">Ov Switch</span></dt>
                <dd>
                    <div *ngIf="ovSPort.ovSwitch">
                        <a [routerLink]="['/ov-switch', ovSPort.ovSwitch?.id, 'view']">{{ ovSPort.ovSwitch?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ov-s-port', ovSPort.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
