<div>
    <h2 id="page-heading">
        <span jhiTranslate="firewallapiApp.ovSPort.home.title">Ov S Ports</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ov-s-port" [routerLink]="['/ov-s-port/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="firewallapiApp.ovSPort.home.createLabel">
            Create a new Ov S Port
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ovSPorts?.length === 0">
        <span jhiTranslate="firewallapiApp.ovSPort.home.notFound">No ovSPorts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ovSPorts && ovSPorts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.ovSPort.humanName">Human Name</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.ovSPort.onosPortName">Onos Port Name</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.ovSPort.fwNetwork">Fw Network</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.ovSPort.ovSwitch">Ov Switch</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ovSPort of ovSPorts ;trackBy: trackId">
                    <td><a [routerLink]="['/ov-s-port', ovSPort.id, 'view']">{{ ovSPort.id }}</a></td>
                    <td>{{ ovSPort.humanName }}</td>
                    <td>{{ ovSPort.onosPortName }}</td>
                    <td>
                        <span *ngFor="let fwNetwork of ovSPort.fwNetworks; let last = last">
                            <a class="form-control-static" [routerLink]="['/fw-network', fwNetwork?.id, 'view']">{{ fwNetwork.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <div *ngIf="ovSPort.ovSwitch">
                            <a [routerLink]="['/ov-switch', ovSPort.ovSwitch?.id, 'view']" >{{ ovSPort.ovSwitch?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ov-s-port', ovSPort.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ov-s-port', ovSPort.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ovSPort)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
