<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ov-s-port-heading" jhiTranslate="firewallapiApp.ovSPort.home.createOrEditLabel">Create or edit a Ov S Port</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.ovSPort.humanName" for="field_humanName">Human Name</label>
                    <input type="text" class="form-control" name="humanName" id="field_humanName"
                           formControlName="humanName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.ovSPort.onosPortName" for="field_onosPortName">Onos Port Name</label>
                    <input type="text" class="form-control" name="onosPortName" id="field_onosPortName"
                           formControlName="onosPortName"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="firewallapiApp.ovSPort.fwNetwork" for="field_fwNetworks">Fw Network</label>
                    <select class="form-control" id="field_fwNetworks" multiple name="fwNetworks" formControlName="fwNetworks">
                        <option [ngValue]="getSelected(editForm.get('fwNetworks')!.value, fwNetworkOption)" *ngFor="let fwNetworkOption of fwnetworks; trackBy: trackById">{{ fwNetworkOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.ovSPort.ovSwitch" for="field_ovSwitch">Ov Switch</label>
                    <select class="form-control" id="field_ovSwitch" name="ovSwitch" formControlName="ovSwitch">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ovSwitchOption.id === editForm.get('ovSwitch')!.value?.id ? editForm.get('ovSwitch')!.value : ovSwitchOption" *ngFor="let ovSwitchOption of ovswitches; trackBy: trackById">{{ ovSwitchOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
