<div>
    <h2 id="page-heading">
        <span jhiTranslate="firewallapiApp.fwFilter.home.title">Fw Filters</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fw-filter" [routerLink]="['/fw-filter/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="firewallapiApp.fwFilter.home.createLabel">
            Create a new Fw Filter
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fwFilters?.length === 0">
        <span jhiTranslate="firewallapiApp.fwFilter.home.notFound">No fwFilters found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fwFilters && fwFilters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwFilter.humanName">Human Name</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwFilter.protocol">Protocol</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwFilter.protocolValue">Protocol Value</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwFilter.origin">Origin</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwFilter.fwRule">Fw Rule</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fwFilter of fwFilters ;trackBy: trackId">
                    <td><a [routerLink]="['/fw-filter', fwFilter.id, 'view']">{{ fwFilter.id }}</a></td>
                    <td>{{ fwFilter.humanName }}</td>
                    <td>{{ fwFilter.protocol }}</td>
                    <td>{{ fwFilter.protocolValue }}</td>
                    <td>{{ fwFilter.origin }}</td>
                    <td>
                        <div *ngIf="fwFilter.fwRule">
                            <a [routerLink]="['/fw-rule', fwFilter.fwRule?.id, 'view']" >{{ fwFilter.fwRule?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fw-filter', fwFilter.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fw-filter', fwFilter.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fwFilter)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
