<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fwFilter">
            <h2><span jhiTranslate="firewallapiApp.fwFilter.detail.title">Fw Filter</span> {{ fwFilter.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="firewallapiApp.fwFilter.humanName">Human Name</span></dt>
                <dd>
                    <span>{{ fwFilter.humanName }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.fwFilter.protocol">Protocol</span></dt>
                <dd>
                    <span>{{ fwFilter.protocol }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.fwFilter.protocolValue">Protocol Value</span></dt>
                <dd>
                    <span>{{ fwFilter.protocolValue }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.fwFilter.origin">Origin</span></dt>
                <dd>
                    <span>{{ fwFilter.origin }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.fwFilter.fwRule">Fw Rule</span></dt>
                <dd>
                    <div *ngIf="fwFilter.fwRule">
                        <a [routerLink]="['/fw-rule', fwFilter.fwRule?.id, 'view']">{{ fwFilter.fwRule?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fw-filter', fwFilter.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
