<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fw-filter-heading" jhiTranslate="firewallapiApp.fwFilter.home.createOrEditLabel">Create or edit a Fw Filter</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwFilter.humanName" for="field_humanName">Human Name</label>
                    <input type="text" class="form-control" name="humanName" id="field_humanName"
                           formControlName="humanName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwFilter.protocol" for="field_protocol">Protocol</label>
                    <input type="text" class="form-control" name="protocol" id="field_protocol"
                           formControlName="protocol"/>
                    <div *ngIf="editForm.get('protocol')!.invalid && (editForm.get('protocol')!.dirty || editForm.get('protocol')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('protocol')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwFilter.protocolValue" for="field_protocolValue">Protocol Value</label>
                    <input type="text" class="form-control" name="protocolValue" id="field_protocolValue"
                           formControlName="protocolValue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwFilter.origin" for="field_origin">Origin</label>
                    <input type="checkbox" class="form-control" name="origin" id="field_origin"
                           formControlName="origin"/>
                    <div *ngIf="editForm.get('origin')!.invalid && (editForm.get('origin')!.dirty || editForm.get('origin')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('origin')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwFilter.fwRule" for="field_fwRule">Fw Rule</label>
                    <select class="form-control" id="field_fwRule" name="fwRule" formControlName="fwRule">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="(fwRuleOption.id === editForm.get('fwRule')!.value?.id || (editForm.get('fwRule')!.value?.id === null && fwRuleOption.id == ruleID)) ? editForm.get('fwRule')!.value : fwRuleOption" *ngFor="let fwRuleOption of fwrules; trackBy: trackById">{{ fwRuleOption.id + (fwRuleOption.humanName ? (' - ' + fwRuleOption.humanName) : '')}}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
