<div class="row">
    <div class="col-md-12">        
        <div [ngSwitch]="isAuthenticated()">
            <h1 class="display-4" jhiTranslate="home.logged.message" [translateValues]="{ username: account ? account.login : 'error'}" *ngSwitchCase="true">Welcome back!</h1>
            <h1 class="display-4" jhiTranslate="home.title" *ngSwitchCase="false">Welcome!</h1>
        </div>
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <hr style="border-top: 5px solid rgba(0, 0, 0, 0.1);">
                <div *jhiHasAnyAuthority="'ROLE_ADMIN'">                    
                    <h2>
                        <span jhiTranslate="firewallapiApp.navbar.controllers"></span>
                        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fw-rule-group" [routerLink]="['/onos-controller/new']">
                            <fa-icon icon="plus"></fa-icon>
                            <span  jhiTranslate="firewallapiApp.onosController.home.createLabel">
                            Create a new controller
                            </span>
                        </button>
                    </h2>
                    <div class="table-responsive" >
                        <div class="container-fluid">
                            <hr>
                            <div class="row">
                                <div class="col col-md-1">
                                    <span jhiTranslate="global.field.id" class="font-weight-bold">ID</span>
                                </div>
                                <div class="col col-md-5">
                                    <span jhiTranslate="firewallapiApp.onosController.humanName" class="font-weight-bold">Name</span>
                                </div>
                                <div class="col col-md-2">
                                    <span jhiTranslate="firewallapiApp.onosController.ip" class="font-weight-bold">IP</span>
                                </div>
                                <div class="col col-md-2">
                                    <span jhiTranslate="firewallapiApp.onosController.port" class="font-weight-bold">Port</span>
                                </div>
                                <div class="col col-md-2">
                                    <span jhiTranslate="firewallapiApp.onosController.user" class="font-weight-bold">User</span>
                                </div>
                            </div>
                            <hr>
                            <div *ngFor="let onosController of onosControllers ; index as index" [ngClass]="[ 1 === index % 2 ? 'row alert bg-white' : 'row alert bg-light']">
                                <div class="col col-md-1"><a [routerLink]="['/onos-controller', onosController.id, 'view']">{{ onosController.id }}</a></div>
                                <div class="col col-md-5"><a [routerLink]="['/onos-controller', onosController.id, 'view']">{{ onosController.humanName }}</a></div>
                                <div class="col col-md-2">{{ onosController.ip }}</div>
                                <div class="col col-md-2">{{ onosController.port }}</div>
                                <div class="col col-md-2">{{ onosController.user }}</div>
                            </div>
                        </div>
                    </div>

                    <hr style="border-top: 5px solid rgba(0, 0, 0, 0.1);">
                </div>
                <div>
                <h2>
                <span jhiTranslate="firewallapiApp.navbar.rule_group"></span>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fw-rule-group" [routerLink]="['/fw-rule-group/new']">
                    <fa-icon icon="plus"></fa-icon>
                    <span  jhiTranslate="firewallapiApp.fwRuleGroup.home.createLabel">
                    Create a new group
                    </span>
                </button>
                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity apply-rules-button" (click)="applyRules()">
                    <fa-icon icon="long-arrow-alt-up"></fa-icon>
                    <span  jhiTranslate="home.apply_rules">
                    Apply rules
                    </span>
                </button>
                </h2>
                <div>
                    <div class="alert alert-warning" id="no-result" *ngIf="!fwRuleGroups|| fwRuleGroups?.length === 0">
                        <span jhiTranslate="firewallapiApp.fwRuleGroup.home.notFound">No fwRuleGroups found</span>
                    </div>
                    <div class="table-responsive" id="entities" *ngIf="fwRuleGroups && fwRuleGroups.length > 0">
                        <div class="container-fluid">
                            <hr>
                            <div class="row">
                                <div class="col col-md-1">
                                    <span jhiTranslate="global.field.id" class="font-weight-bold">ID</span>
                                </div>
                                <div class="col col-md-1">
                                    <span jhiTranslate="firewallapiApp.fwRuleGroup.priority" class="font-weight-bold">Priority</span>
                                </div>
                                <div class="col col-md-10">
                                    <span jhiTranslate="firewallapiApp.fwRuleGroup.humanName" class="font-weight-bold">Human Name</span>
                                </div>
                            </div>
                            <hr>
                            <div *ngFor="let fwRuleGroup of fwRuleGroups ;trackBy: trackId; index as index" [ngClass]="[ 1 === index % 2 ? 'row alert bg-white' : 'row alert bg-light']">
                                <div class="col col-md-1"><a [routerLink]="['/fw-rule-group', fwRuleGroup.id, 'view']">{{ fwRuleGroup.id }}</a></div>
                                <div class="col col-md-1">{{ fwRuleGroup.priority }}</div>
                                <div class="col col-md-10"><a [routerLink]="['/fw-rule-group', fwRuleGroup.id, 'view']">{{ fwRuleGroup.humanName }}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="alert alert-info" *ngSwitchCase="false">
                <div class="row">
                    <div class="col col-md-6 text-center">
                        <button class="btn btn-primary btn-lg" (click)="login()" jhiTranslate="login.form.button">sign in</button>
                    </div>
                    <div class="col col-md-6 text-center">
                        <button class="btn btn-primary btn-lg" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</button>
                    </div>
            </div>
            </div>
        </div>

    </div>
</div>
