<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fw-subnet-heading" jhiTranslate="firewallapiApp.fwSubnet.home.createOrEditLabel">Create or edit a Fw Subnet</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwSubnet.ipPrefix" for="field_ipPrefix">Ip Prefix</label>
                    <input type="text" class="form-control" name="ipPrefix" id="field_ipPrefix"
                           formControlName="ipPrefix"/>
                    <div *ngIf="editForm.get('ipPrefix')!.invalid && (editForm.get('ipPrefix')!.dirty || editForm.get('ipPrefix')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ipPrefix')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwSubnet.ipMask" for="field_ipMask">Ip Mask</label>
                    <input type="text" class="form-control" name="ipMask" id="field_ipMask"
                           formControlName="ipMask"/>
                    <div *ngIf="editForm.get('ipMask')!.invalid && (editForm.get('ipMask')!.dirty || editForm.get('ipMask')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ipMask')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwSubnet.allow" for="field_allow">Allow</label>
                    <input type="checkbox" class="form-control" name="allow" id="field_allow"
                           formControlName="allow"/>
                    <div *ngIf="editForm.get('allow')!.invalid && (editForm.get('allow')!.dirty || editForm.get('allow')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('allow')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwSubnet.priority" for="field_priority">Priority</label>
                    <input type="number" class="form-control" name="priority" id="field_priority"
                           formControlName="priority"/>
                    <div *ngIf="editForm.get('priority')!.invalid && (editForm.get('priority')!.dirty || editForm.get('priority')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('priority')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('priority')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firewallapiApp.fwSubnet.fwNetwork" for="field_fwNetwork">Fw Network</label>
                    <select class="form-control" id="field_fwNetwork" name="fwNetwork" formControlName="fwNetwork">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fwNetworkOption.id === editForm.get('fwNetwork')!.value?.id ? editForm.get('fwNetwork')!.value : fwNetworkOption" *ngFor="let fwNetworkOption of fwnetworks; trackBy: trackById">{{ fwNetworkOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
