<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fwSubnet">
            <h2><span jhiTranslate="firewallapiApp.fwSubnet.detail.title">Fw Subnet</span> {{ fwSubnet.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="firewallapiApp.fwSubnet.ipPrefix">Ip Prefix</span></dt>
                <dd>
                    <span>{{ fwSubnet.ipPrefix }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.fwSubnet.ipMask">Ip Mask</span></dt>
                <dd>
                    <span>{{ fwSubnet.ipMask }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.fwSubnet.allow">Allow</span></dt>
                <dd>
                    <span>{{ fwSubnet.allow }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.fwSubnet.priority">Priority</span></dt>
                <dd>
                    <span>{{ fwSubnet.priority }}</span>
                </dd>
                <dt><span jhiTranslate="firewallapiApp.fwSubnet.fwNetwork">Fw Network</span></dt>
                <dd>
                    <div *ngIf="fwSubnet.fwNetwork">
                        <a [routerLink]="['/fw-network', fwSubnet.fwNetwork?.id, 'view']">{{ fwSubnet.fwNetwork?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fw-subnet', fwSubnet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
