<div>
    <h2 id="page-heading">
        <span jhiTranslate="firewallapiApp.fwSubnet.home.title">Fw Subnets</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fw-subnet" [routerLink]="['/fw-subnet/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="firewallapiApp.fwSubnet.home.createLabel">
            Create a new Fw Subnet
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fwSubnets?.length === 0">
        <span jhiTranslate="firewallapiApp.fwSubnet.home.notFound">No fwSubnets found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fwSubnets && fwSubnets.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwSubnet.ipPrefix">Ip Prefix</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwSubnet.ipMask">Ip Mask</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwSubnet.allow">Allow</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwSubnet.priority">Priority</span></th>
                    <th scope="col" ><span jhiTranslate="firewallapiApp.fwSubnet.fwNetwork">Fw Network</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fwSubnet of fwSubnets ;trackBy: trackId">
                    <td><a [routerLink]="['/fw-subnet', fwSubnet.id, 'view']">{{ fwSubnet.id }}</a></td>
                    <td>{{ fwSubnet.ipPrefix }}</td>
                    <td>{{ fwSubnet.ipMask }}</td>
                    <td>{{ fwSubnet.allow }}</td>
                    <td>{{ fwSubnet.priority }}</td>
                    <td>
                        <div *ngIf="fwSubnet.fwNetwork">
                            <a [routerLink]="['/fw-network', fwSubnet.fwNetwork?.id, 'view']" >{{ fwSubnet.fwNetwork?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fw-subnet', fwSubnet.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fw-subnet', fwSubnet.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fwSubnet)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
